<div>
	<div>
		<%= f.label :amount, "Pledge Amount: " %>
		<%= f.text_field :amount %>
	</div>
	<div>
		<%= f.label :backer_limit, "Backer Limit: " %>
		<%= f.text_field :backer_limit %>
	</div>
	<div>
		<%= f.label :description, "Description: " %>
		<%= f.text_area :description %>
	</div>
</div>