<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
<strong>Backed:</strong>
<%= @user.backed_projects.to_a %>
</p>
<p>
<strong>Owned and current amount</strong>
	<% if current_user == @user %>
		<% @user.owned_projects.each do |p| %>
			<p>
				<%= p.name %>
				<%= p.total_amount_raised %>
			</p>
		<%end%>
	<% end %>





<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
