<%= @project.name %>
<%= link_to "Edit Project", edit_project_path(@project.id) %> <br>

<p> Description: <%= @project.description %> </p>
<p> Funding goal: $<%= @project.funding_goal %> </p>
<p> Days Left: <%= days_left %> </p>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
	<div id="reward">
		<div>
			<p> For $<%= reward.amount %> </p>
		</div>
		<div>
			<p> You get: <%= reward.description %> </p>
		</div>
	</div>
<% end %>