<%= @project.name %>
<%= link_to "Edit Project", edit_project_path(@project.id) %> <br>
<div id="pledge_response"></div>
<p> Description: <%= @project.description %> </p>
<p> Funding goal: $<%= @project.funding_goal %> </p>
<p> Days Left: <%= days_left %> </p>
<p> Category: <%= @project.category.try(:name) %></p>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>

	<div class="reward" data-reward-amount="<%= reward.amount %>" data-project-id="<%= @project.id %>">
		<div>
			<p> For $<%= reward.amount %></span> </p>
		</div>
		<div>
			<p> You get: <%= reward.description %> </p>
		</div>
	</div>
<% end %>

